@CHARSET "UTF-8";

#content {
	text-align: justify;
}

#content h1 {
	padding: 0;
	padding-bottom: 5px;
	margin-bottom: 20px;
	border-bottom: 1px solid lightgrey;
}

#content h2,h3,h4 {
	border-bottom: 1px dotted lightgrey;
}

#content ul {
	list-style: disc;
	list-style-type: circle;
}

#page-bottom-menu {
	padding: 10px 45px 0 45px;
}

#page-bottom-menu ul.list {
	
}

#page-bottom-menu li {
	display: inline;
	padding-right: 20px;
}

#page-bottom-menu {
	text-align: center;
	margin-bottom: 0em;
}

#page-bottom {
	text-align: center;
	margin-bottom: 0em;
}

#loginform { 
	padding: 5px 0 0 0;
	position: absolute;
	right: 45px;
	top: 20px;
}

.logo {
	width: 320px;
	height: 133px;
	padding: 10px 0 0 10px;
	/* 	background-color: white; */
}