#content {
	width: 665px;
	/* 	width: 865px; */
	float: left;
/* 	padding: 0; */
	border-right: 1px solid rgb(166, 201, 226);
}

.content-image {
	width: 660px;
	margin: 0px 0 40px 0;
	border: 1px solid lightgrey;
}

#content-box1 {
	width: 320px;
	float: left;
}

#content-box2 {
	margin: 0 0 0 345px;
	width: 320px;
}