<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<!-- resource security -->
	<http auto-config="true" use-expressions="true">
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/cliente/**"
			access="hasRole('ROLE_ADMIN','ROLE_CLIENT')" />
		<intercept-url pattern="/playa/**"
			access="hasRole('ROLE_ADMIN','ROLE_PLAYA_EMPLEADO','ROLE_PLAYA_GERENTE')" />
		<intercept-url pattern="/secure/**"
			access="hasRole('ROLE_ADMIN','ROLE_AUDITOR','ROLE_CONTADOR','ROLE_USER','ROLE_CLIENT','ROLE_PLAYA_EMPLEADO','ROLE_PLAYA_GERENTE')" />
		<intercept-url pattern="/**" access="permitAll" />
		<form-login login-page="/login.html" />
		<remember-me key="jsfspring-sec" services-ref="rememberMeServices" />
		<logout invalidate-session="true"
			delete-cookies="JSESSIONID,SPRING_SECURITY_REMEMBER_ME_COOKIE"
			logout-success-url="/login.html"></logout>
	</http>

	<!-- manager responsible for loading user account with assigned roles -->
	<authentication-manager alias="authenticationManager">
		<authentication-provider ref="rememberMeAuthenticationProvider"></authentication-provider>
		<authentication-provider user-service-ref="customJDBCUserService">
		</authentication-provider>
	</authentication-manager>

</beans:beans>