<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.1.xsd" >
		
    <!-- resource security -->
	<http auto-config="true" access-denied-page="/pages/accessDenied.xhtml">
		<intercept-url pattern="/pages/protected/*" access="ROLE_ADMIN" />
		<form-login login-page="/pages/login.xhtml" authentication-failure-url="/pages/loginfailed.xhtml" />
	</http>
	
	<!-- manager responsible for loading user account with assigned roles -->
	<authentication-manager alias="authenticationManager">
		<authentication-provider>
		    <jdbc-user-service data-source-ref="DataSource"/>
		</authentication-provider>
	</authentication-manager>
	
</beans:beans>